<h1>Index</h1>
<% @tasks.each do |task| %>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="" checked>
  <label class="form-check-label" for="">
    <%= link_to task.title, task_path(task) %>  
  </label>
</div>
<% end %>

