<h1>Index</h1>

<% @tasks.each do |task| %>
<div class="task-item">
  <div class="task-info">  
      <% if task.completed %>
        <p class="task-status">[v]</p>  
      <% else %>
        <p class="task-status">[ ]</p>  
      <% end %>
    <%= link_to task.title, task_path(task) %>  
  </div>
<div class="task-action delete-link">
  <%= link_to "Delete", task_path(task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</div>

</div>

<% end %>
  <p><%= link_to "> Create task", tasks_new_path %></p>


